body {
	width: 100vw;
	max-width: 360px;
	margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-transform: uppercase;
	text-decoration: none;
}
.blog-header {
	background-color: #6d6c69;
	background-image: url(../image/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 70%;
	position: relative;
	width: 100vw;
	max-width: 360px;
	height:100vh;
	max-height: 640px;
	margin: 0 auto 45px;
}
.container {
	width: 100vw;
	max-width: 330px;
	align-items: center;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
header::before {
	content: "";
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #000000;
	opacity: 0.5;
	position: absolute;
	z-index: 1;
}
.burger-menu {
	width: 23px;
	height: 4px;
	background-color: white;
	position: relative;
	z-index: 1;
	top: 30px;
	margin-left: auto;
}
.burger-menu::after {
	margin-top: 16px;
	content: "";
	display: inline-block;
	position: absolute;
	background-color:white;
	width: 23px;
	height: 4px;
}
.burger-menu::before {
	margin-top: 8px;
	content: "";
	display: inline-block;
	position: absolute;
	background-color:white;
	width: 23px;
	height: 4px;
}
.image-logo {
	margin-bottom: 45px;
}
.logo {
	padding-top: 120px;
	width: 275px;
	z-index: 1;
	position: relative;
	padding-left: 8%;
	padding-right: 8%;
}
h1.header {
	width: 100%;
	max-width: 285px;
	line-height: 37px;
	text-align: center;
	z-index: 1;
	font-family: bold;
	text-transform: uppercase;
	color: white;
	position: relative;
	font-size: 26px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 287px;
}
.container-main {
	width: 100vw;
	max-width: 330px;
	align-items: center;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.post-blog {
	width: 330px;
}
.img-post {
	width: 100%;
 }
@font-face {
	font-family: regular;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: bold;
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: normal;
}